/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server109.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server101.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server103.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server104.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server105.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server106.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server107.ota.bin
/ble/ble_fota_server/Project/uvision5/UVBuild/ble_fota_server108.ota.bin
